@font-face {
  font-family: "myFont";
  src: url(./TaipeiSansTCBeta-Bold.ttf);
}

* {
  font-family: "myFont";
}
.navbar-brand:hover {
  color: rgb(241, 246, 96);
}
.nav-link:hover {
  color: rgb(241, 246, 96);
}

.changeColor {
  color: black;
  :hover {
    color: rgb(86, 93, 92);
  }
}

.filter {
  z-index: 10;
  position: fixed;
  height: 180%;
  width: 70%;
  left: 0;
  background: linear-gradient(
    77deg,
    rgba(0, 0, 0, 0.8),
    transparent 85%
  ); /* 漸層 */
}

.navOntop {
  position: fixed;
  width: 100%;
  z-index: 20;
  a {
    color: white;
  }
}

div.swiper {
  width: 100%;
  height: 90vh;
  position: relative;
  p {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 5%;
    top: 75%;
    font-size: 1.5rem;
    z-index: 18;
  }
}

div.test {
  outline: 3px solid red;
  position: relative;
  z-index: 8;
  left: 30px;
}

div.swiper-slide {
  /* text-align: center; */
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.swiper-slide img {
  display: block;
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 40px;
  --swiper-navigation-color: white;
  --swiper-navigation-sides-offset: 24px;
  padding-left: 100em;
  opacity: 0.7;
  font-weight: 900;
  z-index: 25;
}

.swiper-pagination {
  --swiper-pagination-bottom: 15px;
  --swiper-pagination-color: rgba(255, 255, 255, 0.344);
  --swiper-pagination-bullet-opacity: 0.8;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-horizontal-gap: 5px;
}

.swiper-scrollbar {
  --swiper-scrollbar-bottom: 6px;
  --swiper-scrollbar-sides-offset: 8%;
  --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(165, 42, 42, 0.5);
  --swiper-scrollbar-size: 4px;
}

div.nowPlaying,
div.upcoming {
  color: white;
  padding: 20px;
  overflow: hidden;
  h2 {
    padding: 10px;
  }
}

div.upcoming,
div.nowPlaying {
  position: relative;
  z-index: 2;
}

div.nowPlaying,
div.upcoming,
.swiper,
.stop {
  background-color: rgba(0, 0, 0, 0.93);
}

div.nowPlaying {
  padding-top: 50px;
}

.intro {
  display: none;
  z-index: 5;
  position: absolute;
  background-color: rgb(61, 54, 54);
  border: 3px solid green;
  top: 3rem;
  p {
    font-size: 0.75rem;
    margin: 0;
  }
  a {
    font-size: 1rem;
  }

  .movie-title {
    font-size: 100%;
  }
  .vote {
    img {
      width: 32px;
      height: 32px;
    }
    display: flex;
    align-items: center;
  }

  .vote-average {
    border: 3px solid yellow;
    .large-text {
      font-size: 1.8em;
      font-weight: bold;
    }
    display: flex;
  }
  .vote-count {
    display: flex;
    img {
      width: 18px;
      height: 18px;
    }
  }
}

div.animation {
  animation: showIntro 1s ease forwards;
}

@keyframes showIntro {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}
